<div class="container-fluid mb-2 pb-4" style="border-bottom: solid lightgray;">
  <img src="../../../assets/images/banner-carro.JPG" alt="vehiculo">
</div>

<div class="container-fluid mt-4">
  <table class="table ml-1">
      <thead class="table-dark">
        <tr>
          <th class="col">#</th>
          <th class="col">Marca</th>
          <th class="col">Línea</th>
          <th class="col">Modelo</th>
        </tr>
      </thead>
      <tbody >
        <tr *ngFor="let vehiculo of vehiculos">
          <th>
            <dd>{{vehiculo.id}}</dd>
          </th>
          <td>
            <dd>{{vehiculo.marca}}</dd>
          </td>
          <td>
            <dd>{{vehiculo.linea}}</dd>
          </td>
          <td>
            <dd>{{vehiculo.modelo}}</dd>
          </td>
        </tr>
      </tbody>
    </table>
</div>

<div class="container-fluid mt-4">
  <div *ngFor="let vehiculo of sumaVehiculos | keyvalue">
    Total {{vehiculo.key}}: {{vehiculo.value}}
  </div>
</div>


